@import "tailwindcss";

@theme{
  --color-orange: hsl(26, 100%, 55%);
  --color-pale-orange: hsl(25, 100%, 94%);
  --color-very-dark-blue: hsl(220, 13%, 13%);
  --color-dark-grayish-blue: hsl(219, 9%, 45%);
  --color-grayish-blue: hsl(220, 14%, 75%);
  --color-light-grayish-blue: hsl(223, 64%, 98%);

  --font-kumbh-sans: 'Kumbh Sans', sans-serif;
}

body{
  @apply font-kumbh-sans;
}

/* Swiper styles */
.swiper-wrapper{
  height: auto !important;
}

.swiper-button-prev::after, .swiper-button-next::after{
  display: none;
}

.swiper-button-prev, .swiper-button-next{
  width: 2.5rem !important;
  height: 2.5rem !important;
}

.lightbox-container .swiper-button-prev{
  left: 0 !important;
  transform: translateX(-1.25rem);
}

.lightbox-container .swiper-button-next{
  right: 0 !important;
  transform: translateX(1.25rem);
}